/* This is a comment */

/*
nav{
	color:aquamarine;
	text-align: right;
	font-size: large;
}
*/

body {			
font-family:arial, verdana, helvetica; 
color: black; 
font-size:20px; 
background:#e5e3dc;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul li{
	color:White;
	font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	list-style-type: none;
	float: right;
}

nav ul li a{
	color: black;
	text-decoration:none;
	margin:5px;
	padding: 5px;
}

nav ul li a:hover{
	color: #845f31;
}

header img {
	width: 90%;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
}

/* Center the heading */
h2 {
  text-align: left; 
}

h3 {
    text-align: left;   
}

p
{
	text-align: left;
}



.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.text-form {
  flex: 2;
  max-width: 600px;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 600px;
  height: auto;
  border-radius: 1px;
}

footer h3{
	text-align: left;
	margin:5px;
	padding: 15px;
	color:#845f31;
}

footer ul li a{
	color: black;
	font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
	text-decoration:none;
	margin:5px;
	padding: 5px;
}

footer ul li{
	color:White;
	font-size: 20px;
	list-style-type: none;
	float: right;
}

footer ul li a:hover{
	color: #845f31;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* pushes h3 left and ul right */
  align-items: center;            /* vertically aligns them */
  padding: 15px;
}




