/* This is a comment */

/*
nav{
	color:aquamarine;
	text-align: right;
	font-size: large;
}
*/

body {			
font-family:arial, verdana, helvetica; 
color: black; 
font-size:20px; 
background:#e5e3dc;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul li{
	color:White;
	font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	list-style-type: none;
	float: right;
}

nav ul li a{
	color: black;
	text-decoration:none;
	margin:5px;
	padding: 5px;
}

nav ul li a:hover{
	color: #845f31;
}

header img {
	width: 100%;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
}

button{
	background-color: black;
	color: white;
	font-size: 18px;
	border-radius: 12px;
	width: 200px;
}

p
{
	text-align: center;
}


.row {
	display: flex;
}

/*
.column {
	float:right;
}
*/


figcaption{
	text-align: left;
}

figure p {
	text-align: left;
}


.image-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.columns {
  display: flex;
  gap: 40px;
  justify-content: center;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

section img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 0px;
}

.full-width img {
  max-width: 1100px;
  height: 300px;
  overflow: hidden;
}

/* Center the heading */
h2 {
  text-align: left;
  color: #845f31;
  margin:35px;

}

/* Center the row container */
.row {
  display: flex;
  justify-content: center; 
  gap: 40px;              
  flex-wrap: wrap;         
}

/* Style each column */
.column {
  text-align: center;
  max-width: 650px;
}

/* this is for the services images, wedding, headshots, prints */
article .service-image {
  width: 200px !important;
  height: 300px !important;
  object-fit: cover;
}


footer h3{
	text-align: left;
	margin:5px;
	padding: 15px;
	color:#845f31;
}

h3{
	color:#845f31;
}

footer ul li a{
	color: black;
	font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
	text-decoration:none;
	margin:5px;
	padding: 5px;
}


footer ul li{
	color:White;
	font-size: 20px;
	list-style-type: none;
	float: right;
}

footer ul li a:hover{
	color: #845f31;
}

/*
.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 15px;
}
*/

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}


.footer-content h3 {
  flex: 1;
}

.footer-content ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-content ul li {
  list-style: none;
}



